*{
    margin: 0%;
}

.home{
   margin-top: -20px;
   text-align: end;
}

.home select {
    background: none;
    border: none;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
}

.btnhome button {
    margin-top: 0px;
    background: none;
    border: none;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer; 
}

.btnhome button:hover{
    background-color: cornsilk;
}
