* {
    margin: 0;
    padding: 0;
}

.news {
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    width: 70%;
}

.news ul {
    background-color: rgb(255, 255, 255);
    list-style-type:none;
    color: rgb(0, 0, 0);
}

.news h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}